[submodule "basic-utils"]
	path = basic-utils
	url = git@github.com:hacksmith007/basic-utils.git
[submodule "AetherLink-yang"]
	path = AetherLink-yang
	url = git@github.com:hacksmith007/AetherLink-yang.git
